<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{page.title}}</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
<link rel="icon" href="/favicon.png" type="image/png" /> 
<meta name="viewport"
  content="width=device-width,
  minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">

			<div id="access" role="navigation">
				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
                {% include topnav.html %}
			</div><!-- #access -->
			<div id="branding" role="banner">
				{% if page.title == "Geeky Nuggets" %} 
                <h1 id="site-title">
                  {% else %}
                <div id="site-title">
                  {% endif %}
					<span>
						<a href="/" title="{{site.title}}" rel="home">{{site.title}}</a>
					</span>
				{% if page.title == "Geeky Nuggets" %} 
                </h1>
                  {% else %}
                </div>
                  {% endif %}

				<div id="site-description">{{site.description}}</div>
			</div><!-- #branding -->

		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">
