        <header id="header" class="center">
            <div class="logo">
                <h1>
                    <a href="/" title="Return to homepage" tabindex="0" accesskey="H">
                        {{site.title}}
                    </a>
                </h1>
			</div>
            <div class="siteDesc"><a href="/about.html#notebook" title="About Jonathan Foucher
                &amp; contact details" tabindex="0" accesskey="A">Jonathan Foucher</a>&rsquo;s blog <span
                class="amp">&amp;</span> web development
                notebook.
            </div>
            {% include nav.html %}



		</header> <!-- /#header.center -->
