        <header id="header" class="center">
            <div class="logo">
                <h1>
                    <a href="/" title="Return to homepage" tabindex="0" accesskey="H">
                        {{site.title}}
                    </a>
                </h1>
			</div>
            <div class="siteDesc"><a href="/about.html#notebook" title="About Jonathan Foucher
                &amp; contact details" tabindex="0" accesskey="A">Jonathan Foucher</a>&rsquo;s blog <span
                class="amp">&amp;</span> web development
                notebook.
            </div>
            {% include nav.html %}



		</header> <!-- /#header.center -->
        <div class="hero">

            <p>Besides developing engaging web applications that provide a high return on investment, I like to research
            and learn new things. This blog relates my experiences as a software developer.</p>
            <div class="skip">
                <span>Straight to: <a href="/#notebook" title="Skip straight to the latest article" tabindex="0"
                accesskey="L">&sect; Latest article</a> <a href="/about.html#contactForm" title="Contact Jonathan Foucher" tabindex="1"
                accesskey="C">&sect; Contact me</a></span>
            </div>
        </div>