        <div id="header" class="center">
			<div class="hero floatRight">
				<h1>
					<a href="/" title="Return to homepage" tabindex="0" accesskey="H">
						<span class="hoverline">{{site.title}}</span>
					</a>
				</h1>
				<p class="moin"><a href="/about.html#notebook" title="About Jonathan Foucher
                &amp; contact details" tabindex="0" accesskey="A">Jonathan Foucher</a>&rsquo;s blog <span
                class="amp">&amp;</span> web development
                notebook.</p>
				<p>Besides developing engaging web application providing a high return on investment, I like to research
                and learn new things. This blog relates my experiences as a software developer.</p>
			</div>
			<div class="skip">
				<span>Straight to: <a href="/#notebook" title="Skip straight to the latest article" tabindex="0"
                accesskey="L">&sect; Latest article</a></span>
			</div>
		</div> <!-- /#header.center -->
