        <nav id="nav" class="clear">
            <ul class="nav nav-header caps">
				<li{% if page.active == 'about' %} class="active"{% endif %}><a href="/about.html" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
				<li{% if page.active == 'archives' %} class="active"{% endif %}><a href="/archives.html" title="View the blog archives" tabindex="0">Archives</a></li>

				<li><a href="http://feeds.feedburner.com/GeekyNuggets" title="Subscribe to my posts, by email or in your feed reader" tabindex="0">Feed</a></li>
            </ul>
			<div class="sitesearch">

                <!-- Google Custom Search Element -->
                <!-- <form action="http://www.google.com/cse" class="center_column" id="searchForm" >
                    <fieldset>
                       <input type="hidden" name="cx" value="004905032692135561336:flcwnz7i1ww" />
                       <input type="hidden" name="ie" value="UTF-8" />
                       <label for="search" class="hidden">Search</label>
                       <input id="search" class="text-input" type="text" name="q" size="15" tabindex="0" accesskey="S" />
                       <input id="searchsubmit" type="submit" name="sa" value="Search" tabindex="0" />
                    </fieldset>
                </form>-->

            </div>

        </nav> <!-- /#nav.clear -->
