<div class="menu-header">
    <ul id="menu-new" class="menu">
        <li class="menu-item">
            <a href="http://jfoucher.com">Blog</a>
        </li>
        <li class="menu-item">
            <a title="view my page on about.me" href="http://jfoucher.com/about">About
me</a>
        </li>
        <li class="menu-item">
            <a title="latest works" href="http://jfoucher.com/portfolio">Portfolio</a>
        </li>
        <li class="menu-item"><a title="feedly inspired theme" href="http://jfoucher.com/wp-feedly">WP Feedly</a>
        </li>
    </ul>
</div>
