@import '/assets/fonts/museosans/stylesheet.css';
@import '/assets/fonts/stmarie/stylesheet.css';
@import '/assets/fonts/bodoni/stylesheet.css';

/* Semantic.gs variables */
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

/*
Helpers
*/
.text-shadow(@left, @top, @blur, @color){
    -webkit-text-shadow:@left @top @blur @color;
    -moz-text-shadow:@left @top @blur @color;
    -o-text-shadow:@left @top @blur @color;
    -khtml-text-shadow:@left @top @blur @color;
    text-shadow:@left @top @blur @color;
}
.transition(@type,@time,@easing){
    -webkit-transition:@type @time @easing;
    -moz-transition:@type @time @easing;
    -o-transition:@type @time @easing;
    -khtml-transition:@type @time @easing;
    transition:@type @time @easing;
}

/*
Color palette
*/
@bg:#fffff6;
@darkBg:#192f35;
@black:#000;
@blackHeading:#111;
@mainCopy:#192f35;
@secCopy:#304e5a;
@terCopy:#535d65;
@headings:#63a7b9;

@links: #336699;
@linksHover: @links - #111;
@coverBg:#fffff6;
@covertextShadow:#fff;
@navHover:#ff8000;
@headings:#ff8000;

body{
    color:@mainCopy;
    font-family: "MuseoSans500",arial, helvetica, sans-serif;
}
a{
    text-decoration:none;
    color:@links;
}
a:hover{
    border-bottom:1px solid @linksHover;
    color:@linksHover;
}
.amp{
    font-family:'BodoniRegular', Georgia, serif;
}
h1,h2,h3,h4,h5,h6{
    color:@headings;
}
h1{
    font-size:2.4em;
}
h2{
    font-size:2em;
}
h3{
    font-size:1.6em;
}
h4{
    font-size:1.2em;
}
h5{
    font-size:0.95em;
}
h6{
    font-size:0.9em;
}


#container{
    position:relative;
    
    margin:0 auto;
}
#header{

    padding:1.5em 0;
    position:relative;



    div.logo{
        
    }
    div.logo h1{
        font-weight:normal;
    }
    div.logo a{
        color:@headings;
        font-family: 'ITC Avant Garde Gothic Std','URW Gothic L','Century Gothic', 'Avant Garde', 'Trebuchet MS', sans-serif;
        line-height:0.8em;
        margin-bottom:0.2em;
        padding-bottom:1px;
    }
    div.logo a:hover{
        color:@headings;
        border-bottom:1px solid @headings;
        padding-bottom:0;
    }
    .siteDesc{
            
        font-size:1.24em;
        
        font-variant: small-caps;
        margin-top:1em;
        
        color:@headings;



    }
    div.hero{
        color:@secCopy;

        margin-top:1.5em;
        

        
    }
}
#nav{
    background: @darkBg;
    color:@terCopy;
    position:relative;
    li{
        float:left;
        margin:1.2em 2.5em 1em 0;
    }
    a{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color:@terCopy;
        font-size:1.2em;
        .text-shadow(0,1px,2px, rgba(0,0,0,0.8));
        .transition(all, 0.3s, ease);
        text-transform: uppercase;
        display:block;

        
    }
    a:hover{
        border:none;
        color: @navHover;
    }
    .sitesearch{
        margin:1em 1.2em 1em 2.5em;
        float:right;
        label{
            display:none;
        }
    }

}
#nav:before{
   content: "";
   position: absolute;
   background: @darkBg;  
   top: 0;
   bottom: 0;
   width: 9999px;
}
#nav:before {
   right: 100%;
}


/* Comments by disqus
-------------------------------------*/
#disqus_thread{

    clear:both;
}

/* Media Queries
-------------------------------------*/

@media (max-width: 960px) {


}
@media (max-width: 768px) {


    
}
@media (max-width: 640px) {


}

@media (max-width:480px){

}
