@import '/assets/fonts/museosans/stylesheet.css';
@import '/assets/fonts/bodoni/stylesheet.css';
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{width:100%;float:left;}
.highlight{background:#fffff6;font-family:Monaco,"Andale Mono","Courier New",Courier,monospace !important;font-size:1.5em;clear:both;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;padding:1em;margin:0 0 0 -1em;}.highlight pre{overflow:hidden;margin:0;}
.highlight:hover{position:relative;width:960px;z-index:10;-webkit-box-shadow:0 0 2em rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 2em rgba(0, 0, 0, 0.3);-o-box-shadow:0 0 2em rgba(0, 0, 0, 0.3);-khtml-box-shadow:0 0 2em rgba(0, 0, 0, 0.3);box-shadow:0 0 2em rgba(0, 0, 0, 0.3);}
.highlight .c{color:#999988;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#999988;font-style:italic;}
.highlight .cp{color:#999999;font-weight:bold;}
.highlight .c1{color:#999988;font-style:italic;}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000000;background-color:#ffdddd;}
.highlight .gd .x{color:#000000;background-color:#ffaaaa;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#aa0000;}
.highlight .gh{color:#999999;}
.highlight .gi{color:#000000;background-color:#ddffdd;}
.highlight .gi .x{color:#000000;background-color:#aaffaa;}
.highlight .go{color:#888888;}
.highlight .gp{color:#555555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaaaaa;}
.highlight .gt{color:#aa0000;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#445588;font-weight:bold;}
.highlight .m{color:#009999;}
.highlight .s{color:#dd1144;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#445588;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#990000;font-weight:bold;}
.highlight .nf{color:#990000;font-weight:bold;}
.highlight .nn{color:#555555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#009999;}
.highlight .mh{color:#009999;}
.highlight .mi{color:#009999;}
.highlight .mo{color:#009999;}
.highlight .sb{color:#dd1144;}
.highlight .sc{color:#dd1144;}
.highlight .sd{color:#dd1144;}
.highlight .s2{color:#dd1144;}
.highlight .se{color:#dd1144;}
.highlight .sh{color:#dd1144;}
.highlight .si{color:#dd1144;}
.highlight .sx{color:#dd1144;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#dd1144;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#009999;}
html{overflow-y:scroll;}
body{background:#fffff6 url(/assets/img/bg2.png) repeat;text-align:center;font-family:Georgia,"DejaVu Serif",Times,"Times New Roman",serif;font-size:62.5%;line-height:1.5;color:#192f35;}
div#container{width:960px;margin:0 auto 0 auto;background-color:#fffff6;border-top:#304e5a 0.8em solid;text-align:left;-webkit-box-shadow:0 0 4em rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 4em rgba(0, 0, 0, 0.3);-o-box-shadow:0 0 4em rgba(0, 0, 0, 0.3);-khtml-box-shadow:0 0 4em rgba(0, 0, 0, 0.3);box-shadow:0 0 4em rgba(0, 0, 0, 0.3);}
h3,h4,h5,h6{font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;}
h2{font-size:3.2em;color:#304e5a;margin-bottom:0.5em;}
h3,div#footer h2{font-size:2.4em;color:#ff8000;margin:0.666em 0;}
h4{font-size:1.8em;color:#111111;margin:0.888em 0;}
h5{font-size:1.4em;font-weight:bold;color:#111111;margin:1.142em 0;}
h6{font-size:1.2em;text-transform:uppercase;letter-spacing:1px;color:#ff8000;margin:1.142em 0;}
p{font-size:1.6em;padding:0;text-align:justify;}
a,a:hover,a:active,a:focus{text-decoration:none;}
a{color:#336699;}
a:hover,a:active,a:focus{color:#111111;border-bottom:1px solid #535d65;background-color:#fbeec2;}
a.internal{color:#304e5a;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;}
a.internal:hover,a.internal:active,a.internal:focus{color:#111111;}
abbr,acronym,.caps{font-style:normal;letter-spacing:0.062em;text-transform:lowercase;font-variant:small-caps;}
input[type=submit],label,select,.pointer{cursor:pointer;}
div.sidebar{display:inline;float:left;width:47.91666666666667%;margin:0 1.0416666666666665%;display:block;}
div#nav,div#notebook,div#footer{padding:2.4em 0;}
div#nav,div#cover{padding-left:4.8em;padding-right:4.8em;}
div.center{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;}
.hidden{display:none;}
.floatLeft{float:left;display:block;}
.floatRight{float:right;display:block;}
.clear{clear:both;}
.block{display:block;}
.inline{display:inline;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
div.logo{display:inline;float:left;width:31.25%;margin:0 1.0416666666666665%;padding-bottom:4.8em;padding-top:2.4em;margin-left:5.208333333333334%;}
div.logo img{width:22.4em;height:34.2em;padding:0 4em 0 4em;}
div.article-logo{display:inline;float:left;width:31.25%;margin:0 1.0416666666666665%;margin-left:5.208333333333334%;padding:2.4em 0 4.8em 0;}
h1{position:relative;text-align:left;line-height:1.2em;font-size:6.4em;font-weight:normal;font-style:normal;text-transform:lowercase;margin-bottom:0.375em;letter-spacing:0.031em;}
h1,h1 a span.italic{font-style:italic;}
h1 a span.middot{color:#304e5a;}
h1 a:hover span.hoverline{border-bottom:1px solid #535d65;}
h1 a{color:#ff8000;}
h1 a:hover,h1 a:active,h1 a:focus{color:#192f35;border:none;background-color:#fffff6;}
div.hero{display:inline;float:left;width:56.25%;margin:0 1.0416666666666665%;padding-top:3.6em;padding-bottom:3.6em;}
div.hero p.moin{font-size:2em;margin-bottom:1em;letter-spacing:0.025em;word-spacing:0.05em;color:#111111;text-align:left;}
div.hero p.moin span.amp{font-size:1.05em;line-height:0.909;}
div.hero p{font-size:1.6em;color:#192f35;}
div.skip span{font-size:1.6em;float:right;padding:1em 0 3em 0;color:#304e5a;letter-spacing:0.031em;word-spacing:0.062em;}
div#nav{background-color:#192f35;color:#fffff6;border-bottom:1px solid #535d65;}
ul.nav-footer li{padding-bottom:0.363em;}
ul.nav li{float:left;font-size:2.2em;padding-right:1.909em;letter-spacing:0.045em;}
ul.nav li a{display:block;color:#535d65;}
ul.nav-header li a{display:block;color:#646e76;text-shadow:1px 1px 1px #222;}
ul.nav li a:hover{border:none;}
ul.nav-footer li a:hover{background-color:#fffff6;color:#192f35;}
ul.nav-header li a:hover{color:#ff8000;background-color:#192f35;}
ul.nav li span.amp{font-size:0.954em;}
input{font-size:1.6em;padding:0.25em;font-family:Georgia,"Bitstream Vera Serif",Times,"Times New Roman",serif;}
input#search{margin-right:0.5em;}
div#cover{padding-top:3.2em;padding-bottom:4.8em;background:url('/assets/img/coverbg.png') top left repeat #fffff6;border-bottom:1px solid #c4ba92;border-top:1px solid #c4ba92;}
div.index{display:inline;float:left;width:56.25%;margin:0 1.0416666666666665%;}
.archives div.index{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;}
div#cover.archives{font-size:1.375em;margin-bottom:3.49em;}
div.index h2,div.subhero-preview h2,div.subhero-preview h3,div.index span.day,p.more,div.index span.month,div.index span.year,div.index span.title,div.subhero-preview p{text-shadow:1px 1px 1px #ffffff;}
div.index h2,div.subhero-preview h2{font-size:1.4em;padding-bottom:1.142em;margin:0;}
div.subhero-preview{display:inline;float:left;width:39.58333333333333%;margin:0 1.0416666666666665%;}
div.subhero-preview h3{font-family:Georgia,"DejaVu Serif",Times,"Times New Roman",serif;font-size:1.6em;color:#777;margin-top:1em;}
div.subhero-preview h3 span.episode-no{color:#ff8000;}
div.subhero-preview h3 span.episode-title{color:#192f35;}
div.subhero-preview p{font-size:1.4em;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;text-align:left;color:#444;margin-bottom:0.5em;}
div.subhero-preview p.more{font-size:1.6em;}
div.index h2{border-bottom:1px dotted #fffff6;}
div.index ul{position:relative;}
div.index li{font-size:1.6em;border-bottom:1px dotted #fffff6;clear:both;}
div.index li a{padding:1em 0;display:block;color:#555;overflow:hidden;}
div.index li a:hover{border:none;color:#222;background:#fbeec2;}
span.day{color:#ff8000;}
div.index span.day{width:2em;text-align:right;position:absolute;left:0;}
span.month{color:#304e5a;}
div.index span.month{text-align:left;position:absolute;left:3em;}
div.index span.year{text-align:left;position:absolute;left:5.5em;}
div.index span.title{position:relative;display:inline;float:left;width:67.85714285714286%;margin:0 1.7857142857142856%;margin-left:26.041666666666668%;display:block;color:#192f35;}
div#cover.archives div.index span.title{display:inline;float:left;width:72.91666666666666%;margin:0 1.0416666666666665%;margin-left:26.041666666666668%;}
div#cover a.internal{margin-top:1em;font-size:0.875em;border-bottom:1px solid transparent;}
div#cover a.internal:hover{border-bottom:1px solid #535d65;background-color:transparent;}
div#notebook{display:inline;float:left;width:89.58333333333334%;margin:0 1.0416666666666665%;margin-left:5.208333333333334%;padding-top:3.2em;}
div#notebook div.page-nav-top{padding-bottom:4.8em;}
div#notebook span.page-nav-item{font-size:1.4em;}
div#notebook div.page-nav-bottom{clear:both;padding-top:2.4em;margin:2.4em 0 4.8em 0;}
div#notebook h2{border-bottom:1px solid #ccc;padding:1em 0;}
div#notebook h2,div.page-meta,div#notebook div.page-nav-bottom{border-top:1px solid #ccc;}
div#notebook h2 a:hover{background-color:#fffff6;border:none;}
div#notebook h2 span.tagline{font-size:0.562em;font-style:italic;color:#304e5a;display:block;margin-left:5.62em;padding:0.5em 0;}
div#notebook span.date{width:11.1em;display:block;font-size:1.6em;margin:-1.9em 0 2em;margin-left:17.708333333333336%;background-color:#fffff6;position:relative;}
div#notebook span.date:before{content:'';background:#fffff6;width:0.6em;position:absolute;left:-0.6em;top:0;bottom:0;}
div#notebook span.date span.month{color:#111111;}
div#notebook span.date span.year{color:#535d65;}
div#notebook span.date span.published{font-size:0.875em;color:#304e5a;}
div#notebook div.meta{margin:2em 0;padding-top:0.5em;display:inline;float:left;width:31.25%;margin:0 1.0416666666666665%;clear:both;border-top:0.2em solid #ccc;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;}
div#notebook div.meta span{font-size:1.4em;color:#192f35;display:block;}
#entry-content,div.page-content{display:inline;float:left;width:56.25%;margin:0 1.0416666666666665%;margin-left:17.708333333333336%;}
#entry-content p:first-child,div.page-content p:first-child{font-size:1.8em;float:right;margin-bottom:0.444em;text-indent:0;display:block;}
#contactForm{margin-top:2.4em;}
#contactForm iframe{margin-left:-5px;}
#entry-content p:first-child:first-letter,div.page-content p:first-child:first-letter{font-size:6.222em;padding-right:0.071em;line-height:0.9;color:#ff8000;float:left;}
#entry-content p:first-child:first-line,div.page-content p:first-child:first-line{font-variant:small-caps;font-size:1.1em;letter-spacing:0.06em;}
#entry-content p.note,div.page-content p.note{text-indent:0.5em;}
#entry-content p.note:before,div.page-content p.note:before{content:"\2767 \0020";color:#ff8000;font-size:1.25em;}
#entry-content p,div.page-content p{margin-bottom:0.5em;}
#entry-content p+p,div.page-content p+p{text-indent:1.8em;}
#entry-content ul,div.entry-content ol,div.page-content ul,div.page-content ol{margin-bottom:0.5em;font-size:1.6em;padding:0;}
#entry-content img{margin-bottom:0.5em;}
#entry-content p.caption,div.page-content p.caption{font-size:1.4em;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;color:#555;margin-bottom:0.571em;display:block;text-align:left;}
#entry-content p.content-skip,div.page-content p.content-skip{text-indent:0;margin-bottom:2em;}
#entry-content p code,div.page-content p code{font-size:0.875em;}
#entry-content ul,div.page-content ul{list-style:circle;}
#entry-content ol,div.page-content ol{list-style:lower-roman;}
#entry-content ol.references,div.entry-ul.references,div.page-content ol.references,div.page-ul.references{list-style:none;font-size:1.4em;}
#entry-content ol.references li,div.entry-content ul.references li,div.page-content ol.references li,div.page-content ul.references li{margin-bottom:0.75em;}
#entry-content li,div.page-content li{margin-bottom:0.25em;}
#entry-content dl dt,div.entry-content dl dd{margin-bottom:1.6em;}
#entry-content dl.conversation span.speaker{font-size:1.6em;font-variant:small-caps;color:#444;display:block;}
#entry-content blockquote,div.page-content blockquote{margin:1em 2.8em;color:#444;}
#entry-content blockquote p,div.page-content blockquote p{text-indent:0;}
#entry-content a,div.page-content a{color:#336699;}
#entry-content a:hover,a:active,a:focus,div.page-content a:hover,div.page-content a:active,div.page-content a:focus{color:#111111;}
#entry-content a:visited,div.page-content a:visited{color:#304e5a;}
div.entry-content a:visited:hover,div.page-content a:visited:hover{color:#111111;}
div.sitesearch404{padding:2em 0 4em 3em;}
.error{background-color:#fffae4;}
.availability{color:#ff8000;}
.page-content.projects{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;}
.projects-list .project{display:inline;float:left;width:47.5%;margin:0 1.25%;margin-bottom:1.5em;}.projects-list .project h3{margin:0.3em 0;}
.projects-list .project h3 a{font-variant:small-caps;font-size:0.7em;color:#ff8000;}
.projects-list .project h3 a:hover{background:transparent;border:none;color:#111111;}
.projects-list .project p{display:inline;float:left;width:95%;margin:0 2.5%;margin-left:0;margin-bottom:1.5em;font-size:1.2em;}
.projects-list .project .project-meta{margin-top:12px;display:inline;float:left;width:35%;margin:0 2.5%;margin-left:0;-webkit-box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);-moz-box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);-o-box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);-khtml-box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);}.projects-list .project .project-meta div{display:block;text-transform:uppercase;color:#535d65;}.projects-list .project .project-meta div span.num{width:2em;display:inline-block;color:#ff8000;}
.projects-list .project .project-code{margin-top:12px;display:inline;float:left;width:55.00000000000001%;margin:0 2.5%;text-align:right;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;}.projects-list .project .project-code a{display:block;}
.projects-list .project .project-code a:hover{background:transparent;border:none;}
div#footer{border-top:0.8em solid #192f35;padding-top:0.8em;height:32em;display:inline;float:left;width:89.58333333333334%;margin:0 1.0416666666666665%;margin-left:5.208333333333334%;}div#footer span.backtop{font-size:1.4em;margin-top:0.571em;}
div#footer div.page-meta{padding-top:4.8em;}
div#footer div.info{display:inline;float:left;width:97.72727272727273%;margin:0 1.1363636363636365%;}
div#footer div.info p,div#footer div.legal p{text-align:left;}
div#footer p.vcard{float:left;width:30.5em;}
div#footer span.index{padding-top:2px;text-indent:-1.333em;font-size:2.6em;line-height:0.7;display:block;float:left;}
div#footer p{font-size:1.3em;color:#192f35;}
div#footer p.copyright{margin-top:1.2em;}
div#footer h2{margin:1em 0 0.5em 0;}
span.amp{font-family:BodoniRegular,"Palatino Linotype",Palatino,Baskerville,Times,"Times New Roman",Georgia,serif;font-style:italic;line-height:1;}
h4 span.amp{font-weight:bold;}
p span.amp{font-size:1.125em;line-height:0.888;}
span.u{text-decoration:underline;}
p sup{vertical-align:text-top;}
p sub{vertical-align:text-bottom;}
.calloutRight,.calloutLeft{font-size:2.4em;color:#192f35;text-align:left;padding:0 1em 0.25em 1em;width:12.666em;}
.calloutRight{float:right;margin-right:-5.333em;}
.calloutLeft{float:left;margin-left:-5.333em;}
blockquote[cite]:after{display:block;text-align:right;content:"\2014\ " attr(cite);font-style:normal;font-size:1.2em;font-family:"MuseoSans500","Lucida Grande",Verdana,"DejaVu Sans",sans-serif;}
pre{margin:2em 0;overflow:auto;}
code{font-family:Monaco,"Andale Mono","Courier New",Courier,monospace;white-space:pre;}
div.entry-content p code,div.page-content p code{font-size:0.875em;}
code.markup,code.css{color:#304e5a;}
code.markup span.content{color:#ff0080;}
code span.element{color:#4881d6;}
code span.property{color:#993300;}
code span.attribute{color:#669933;}
code span.highlighted{background-color:#c8dff9;}
ol#about-top-ten{font-size:1.8em;}
span#df-logo{width:6.4em;margin-top:0.5em;}
#tweets li{font-size:1.35em;padding:8px 12px;border-top:1px dotted #fffff6;color:#192f35;text-shadow:0 1px 1px #fffff6;clear:both;}
#tweets li .timeago{font-size:0.9em;color:#555;display:block;float:right;}
#disqus_thread{clear:both;}
@media (max-width: 960px){div#container{width:100%;}}@media (max-width: 768px){div.logo,div.article-logo{padding-bottom:1.2em;display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;} div.hero,div.index,div.subhero-preview{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;paddding-left:0;padding-right:0;} div.index span.title{display:inline;float:left;width:72.91666666666666%;margin:0 1.0416666666666665%;margin-left:26.041666666666668%;} #searchForm{display:none;} div#nav,div#cover{padding:2.4em;} #entry-content{display:inline;float:left;width:72.91666666666666%;margin:0 1.0416666666666665%;margin-left:9.375%;} div#notebook span.date{margin-left:9.375%;} img{max-width:95%;}}@media (max-width: 640px){div#nav,#footer .nav{padding:1.2em;}div#nav li,#footer .nav li{padding-right:1.1em;} #footer .nav{padding-left:0;padding-right:0;} #entry-content{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;margin-left:1.0416666666666665%;} div#notebook span.date{margin-left:1.0416666666666665%;} img{max-width:95%;} span.date{position:relative;} span.date span.day,span.date span.month,span.date span.year{text-align:left;left:0.8em;} span.date span.month{text-align:right;width:3em;} span.date span.year{top:0.7em;left:0.5599999999999999em;font-size:1.5em;}}@media (max-width:480px){div#cover{padding-left:0 !important;padding-right:0 !important;} div#notebook div.meta{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;} .image-with-caption{max-width:95%;}}
