.wufoo .info h2{
    font-weight: normal;
    font-family: "TeXGyreAdventorRegular", 'ITC Avant Garde Gothic Std','URW Gothic L','Century Gothic','Avant Garde',Verdana,sans-serif;
    color: #da378a;
}