---
layout: base
---
        {% include header-about.html %}

		<div id="notebook" class="center clear">
            <h2 class="post-title">
                <a href="{{ page.url }}#notebook" title="Permanent link to {{ page.title | strip_html }}">
                    {{ page.title }}
                </a>
            </h2>
            <div class="meta">
                <div class="hero">

                    <p>
                        {{page.excerpt}}
                    </p>
                </div>

                <span class="date" title="{{ page.date }}">
                    <span class="published">First published&thinsp;&bull;</span>
                    <span class="day">09</span>
                    <span class="month"><abbr>Mar</abbr></span>
                    <span class="year">2004</span>
                </span>
            </div> <!-- /.meta -->
            <div class="page-content page">

                {{ content }}
            </div> <!-- /.page-content -->
        </div> <!-- /#notebook.center.clear -->
