---
layout: base
---
        {% include header.html %}

		<div id="notebook" class="center clear">
			<div class="page-nav-top">
                {% if page.previous %}
				    <span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ page.previous.url }}#notebook" title="View {{ page.previous.title }}">&larr; View previous article</a></span>
				{% endif %}
				{% if page.next %}
				    <span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ page.next.url }}#notebook" title="View {{ page.next.title }}">View next article &rarr;</a></span>
                {% endif %}
            </div> <!-- /.page-nav-top -->

             <h2 class="post-title">
                <a href="{{ page.url }}#notebook" title="Permanent link to {{ page.title }}">
                    {{ page.title }}
                </a>
            </h2>
            <div class="meta">
                <!-- <span class="pdf">Download a <a href="{{ page.url }}.pdf" title="Download a PDF, printer-friendly copy of this article"><acronym title="Portable Document Format">PDF</acronym>, printer-friendly version of this article</a>.</span> -->
                <span class="permalink">For referencing: <a href="{{ page.url }}" title="[Permalink] {{ page.title }}">permalink to this article</a>.</span>
                    <span class="date" title="{{ page.date | date_to_xmlschema }}">
                    <span class="published">Published&thinsp;&bull;</span>
                    <span class="day">{{ page.date | date: '%d' }}</span>
                    <span class="month"><abbr>{{ page.date | date: '%b' }}</abbr></span>
                    <span class="year">{{ page.date | date: '%Y' }}</span>
                </span>
            </div> <!-- /.meta -->
            <div id="entry-content">

                {{ content }}

            </div> <!-- /.entry-content.colEight -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'geekynuggets'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

            <div class="page-nav-bottom">
                {% if page.previous %}
				    <span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ page.previous.url }}#notebook" title="Read {{ page.previous.title }}">&larr; View previous article</a></span>
				{% endif %}
				{% if page.next %}
				    <span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ page.next.url }}#notebook" title="Read {{ page.next.title }}">View next article &rarr;</a></span>
                {% endif %}
            </div> <!-- /.page-nav-bottom -->
        </div> <!-- /#notebook.center.clear -->