---
title: Open source projects&thinsp;&mdash;&thinsp;by Jonathan Foucher&thinsp;&mdash;&thinsp;Web developer
layout: base
active: projects
---
        {% include header-about.html %}

        <div id="notebook" class="center clear">
            <h2 class="post-title">Open Source Projects&hellip;</h2>
            <div class="page-content projects">

                <ul class="projects-list">
                    {% for project in page.projects %}
                    {% if project.type == 'open_source' %}
                    <li class="project">
                        <h3>
                            <a href="{% if project.website %}{{ project.website}}{% else %}/{{project.url}}{%endif%}" title="{{ project.title }}">{{ project.title }}</a>
                        </h3>
                        <p class="description">{{ project.gitdata['repository']['description'] }}</p>
                        <div class="project-meta">
                            <div class="watchers"><span class="num">{{ project.gitdata['repository']['watchers'] }}</span> watchers</div>
                            <div class="forks"><span class="num">{{ project.gitdata['repository']['forks'] }}</span> forks</div>
                        </div>
                        <div class="project-code">
                            <a class="source" href="{{ project.gitdata['repository']['url'] }}">Source code</a>
                            <a class="download" href="https://github.com/jfoucher/{{ project.gitdata['repository']['name'] }}/zipball/master">Download</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="more">For more, go to <a href="http://github.com/jfoucher">my github profile</a></div>
            </div> <!-- /.page-content -->

            <h2 class="post-title">Client Projects&hellip;</h2>
            <div class="page-content projects">

                <ul class="projects-list">
                    {% for project in page.projects %}
                    {% if project.type == 'client' %}
                    <li class="project client">
                        <div class="project-thumb">
                            <a href="{{ project.website }}" title="Visit {{ project.title }}">
                                <img src="/assets/img/thumbs/{{ project.thumb }}" />
                            </a>
                        </div>
                        <div class="project-description">
                            <h3>
                                <a href="{{ project.website }}" title="{{ project.title }}">{{ project.title }}</a>
                            </h3>
                            <p class="description">{{ project.content }}</p>
                        </div>

                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="more">There are more, just <a href="/about.html#contactForm">ask</a></div>
            </div> <!-- /.page-content -->
        </div> <!-- /#notebook -->

